.sidebar {
    width: 280px;
    height: 100vh;
    position: sticky;
    top: 0;
    padding: 2rem 1rem;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    }
.sidebar img {
    object-fit: cover;
}
.main-content {
    flex-grow: 1;
    padding: 2rem;
}
.leave-table td, .leave-table th {
    vertical-align: middle;
}